body {
  font-family: Arial, sans-serif;
}

.container {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 80px minmax(50px, 1fr);
  margin-bottom: 30px;
}

form {
  margin-left: 20px;
  margin-right: 20px;
}

label {
  display: block;
  margin-bottom: 4px;
}