<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Как выглядит — <b> — Дока</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
  <style>
    body {
      font-family: "Roboto", sans-serif;
      text-align: center;
      font-size: 24px;
      background: #18191C;
      color: white;
      padding: 50px;
      margin: 0;
    }
  </style>
</head>
<body>
  <p>Эта правка <strong>критически важна</strong> для проекта!</p>
</body>
</html>
