body {
  font-family: Arial, sans-serif;
}
.content {
  padding-left: 200px;
  border: 1px dashed;
}

.fixed {
  width: 180px;
  border: 2px solid red;
  position: fixed;
  left: 10px;
  top: 10px;
}
