body {
  font-family: Arial, sans-serif;
}
.container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px dashed;
  margin-top: 100px;
  margin-bottom: 400px;
}

h2 {
  position: sticky;
  top: 40px;
  padding: 20px;
  border: 2px solid green;
  background: #00ff0040;
}
