# Редакция Доки

css @solarrust
html @solarrust
js @hellsquirrel
tools @igsekor @hellsquirrel
recipes @solarrust @hellsquirrel @TatianaFokina
a11y @TatianaFokina
**/demos @skorobaeus
.github @igsekor

# Звёздная команда

css @Inventoris
html @Inventoris @ra1nbow1
js @Inventoris @ra1nbow1 @vitya-ne
tools @ra1nbow1
a11y @nasty23-star

