body {
  font-family: Arial, sans-serif;
}

p {
  border: 1px solid red;
}

.container {
  width: 600px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
  padding: 10px;
}

.positioned {
  width: 50%;
  padding: 5px;
  border: 1px solid green;
  background: #000000aa;
  position: absolute;
  left: -40px;
  height: 80px;
}

.in-positioned {
  margin: 0;
  border-color: blue;
}

.thin {
  width: 50%;
}
