body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

.box {
  width: 600px;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.content__selectors,
.content__demo {
  width: 50%;
}

.content__selector + .content__selector {
  margin-top: .3em;
}

.content__demo {
  margin-left: 1em;
}

.button {
  display: block;
  width: 100%;
  font-size: 18px;
  padding: .5em;
}

.button_selected {
  outline: 1px solid blue;
}

.demo {
  font-size: 24px;
  height: 150px;
  box-shadow: 0 0 3px 0px #555;
  border-radius: 6px;
}