.base {
  margin: 50px;
  padding: 20px;
  font-size: 32px;
  display: inline-block;
  transition: opacity 0.5s;
  opacity: 1;
}

.controls {
  padding: 0 50px;
}

.control {
  margin-bottom: 10px;
}

.text-black {
  color: black;
}

.text-red {
  color: red
}

.border-blue {
  border: 2px solid blue;
}

.bg-yellow {
  background: yellow;
}

.button {
  padding: 6px;
  font-size: 16px;
  background: #71d8ea;
  border-radius: 4px;
}

.reset {
  background: transparent
}

.fade {
  opacity: 0;
}