* {
    box-sizing: border-box;
}

[class*="static-font"] {
    --_font-size: var(--font-size, 1em);
    --_line-height: var(--line-height, calc(var(--_font-size) + 4px));

    font-size: var(--_font-size);
    line-height: var(--_line-height);
}

.static-font__XL {
    --font-size: 36px;
    --line-height: 42px;

    @media (width <=1024px) and (width >=510px) {
        --font-size: 30px;
        --line-height: 36px;
    }

    @media (max-width < 510px) {
        --font-size: 26px;
        --line-height: 30px;
    }
}

.static-font__L {
    --font-size: 28px;
    --line-height: 36px;

    @media (width <=1024px) and (width >=510px) {
        --font-size: 24px;
        --line-height: 30px;
    }

    @media (max-width < 510px) {
        --font-size: 18px;
        --line-height: 20px;
    }
}

.static-font__M {
    --font-size: 20px;
    --line-height: 26px;

    @media (width <=1024px) and (width >=510px) {
        --font-size: 18px;
        --line-height: 22px;
    }

    @media (max-width < 510px) {
        --font-size: 16px;
        --line-height: 20px;
    }
}

