body {
	margin: 0;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 
		'Segoe UI', Roboto, 'Helvetica Neue', 
		Ubuntu, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4;
}

main {
	margin: 0 auto;
	padding: 0 16px;
	max-width: 680px;
}

article {
	font-size: var(--page-font-size, 1em);
}

.font-controls {
	position: sticky;
	top: 0;
	background-color: rgba(0, 0, 0, 0.6);
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	padding: 8px 16px;
	margin: 16px 0;
	border-radius: 4px;
	color: #fff;
}
.font-controls__button {
	font-size: 1em;
}
.font-controls__value {
	display: inline-block;
	text-align: center;
	width: 36px;
}