html, body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 32px;
    overflow: hidden;
}

#wrapper {
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 30px;
}

canvas {
  border: 2px solid red;
}
