body {
  font-family: Arial, sans-serif;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 1px solid grey;
}

p {
  border: 2px solid green;
  line-height: 1.4;
}

strong {
  background: teal;
}

span {
  border: 2px dashed red;
}
