ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
  align-items: baseline;
}
li { margin-left: 10px; margin-right: 10px;}

[href^="http"]::after {
  content: ' ↗️';
  /* Все ссылки с иконкой стрелочки */
}

[href*="/mysite.ru/"]::after {
  display: none; /* внутренние ссылки без иконок */
}
