body {
  font-family: Arial, sans-serif;
}
form {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.form-row {
  margin-bottom: 8px;
}

label {
  display: block;
}

input:required {
  outline: 2px solid blue;
  outline-offset: 1px;
}