.items {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.item {
  position: relative;
  padding: 1em;
  border: 1px solid #2E9AFF;
  border-radius: 12px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.item:hover, .item:focus-within {
  background-color: #2E9AFF;
  transform: scale(1.02);
}

.item:active {
  transform: scale(1.01);
}

.item-header {
  margin-block-start: 0;
}

.item-content {
  margin: 0;
}

.item-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  text-indent: -9999px;
  overflow: hidden;
  background-color: unset !important;
}

.item-link::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
}
