body, 
html {
  margin: 0;  
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.header,
.footer {
  text-align: center;
}

.footer {
  padding-bottom: 1em;
}

main {
  max-width: 640px;
  margin: auto auto 2em;
}

.post {
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  border-radius: 5px;
  padding: 0.2em 1em 0.5em;
}

.post + .post {
  margin-top: 2em
}

.post footer {
  border-top: 1px solid rgba(0,0,0,.1);
  font-size: 20px;
}

button {
  cursor: pointer;
}