#selector {
  margin-bottom: 20px;
}
.highlight {
  background-color: red;
}

#result {
  font-style:italic;
}

div {
  border: black thin solid;
}

div:before {
  content: "div";
  background-color:black;
  color: white;
  position: absolute;
}

p {
  border: #f26600 thin solid;
  padding-top: 20px;
  position:relative;
}

p:before {
  content: "p";
  background-color:#f26600;
  color: white;
  position: absolute;
  top:0
}