.article {
  padding: 1.5em;
  border-radius: 12px;
  background: var(--item-background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.back-button {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
  color: var(--link-color);
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.back-button::after {
  position: absolute;
  bottom: -0.25em;
  left: 0;
  display: inline-block;
  width: 0;
  height: 0.0675em;
  background-color: currentColor;
  transition: width 0.2s ease-in-out;
  content: '';
}

.back-button:hover::after {
  width: 100%;
}

.back-button:active {
  transform: scale(0.98);
}
