.item {
  position: relative;
  margin-bottom: 1em;
  padding: 1.5em;
  border-radius: 12px;
  background: var(--item-background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.item:last-child {
  margin-bottom: 0;
}

.item:hover {
  transform: scale(1.02);
}

.item:active {
  transform: scale(1.01);
}

.item-header {
  margin: 0 0 0.5em;
}

.item-content {
  margin: 0;
}

.item-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  text-indent: -9999px;
  overflow: hidden;
}

.item-link::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
}
