.form-label {
  display: block;
  margin-bottom: 4px;
}

.form-input {
  padding: 8px 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.form-label.invalid {
  color: red;
}

.form-input.invalid {
  border-color: red;
  background-color: #ff000022;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

.block {
  margin-left: 10px;
  margin-right: 10px;
}