body {
  text-align: center;
}

button {
  border: none;
  background-color: transparent;
  font-size: 2em;
  cursor: pointer;
}

button:hover,
button:focus,
button:hover ~ button,
button:focus ~ button {
  color: red;
}

.rating {
  direction: rtl;
}