body {
  display: flex;
  justify-content: space-around;
  font-family: Arial, sans-serif;
}

.search-results {
  margin-top: 20px;
  border-top: 1px solid gray;
  padding-top: 15px;
}

.with-empty:empty {
  display: none;
}

.search-result {
  padding: 5px;
  background: coral;
  margin-top: 5px;
  margin-bottom: 5px;
}
