<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Работа функции min() — min() — Дока</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap">
  <style>
    html {
      height: 100%;
    }

    html {
      display: grid;
    }

    body {
      background-color: #ffd829;
      color: #000000;
      display: grid;
      place-content: center;
      font-family: "Roboto Mono", monospace;
    }

    .rectangle {
      height: 200px;
      width: min(50vw, 350px);
      color: #ffffff;
      background-color: #000000;
      display: grid;
      place-content: center;
      border-radius: 1em;
    }

  </style>
</head>
<body>
  <div class="rectangle">
    <p>Ширина элемента: <span class="rectangle__width"></span></p>
  </div>
  <script>
    const updateValues = () => {
      let pageWidth = window.innerWidth;
      let elemWidth = document.querySelector('.rectangle').clientWidth;

      document.querySelector('.rectangle__width').innerText = elemWidth +'px';
}

    updateValues();
    window.onresize = updateValues;
  </script>
</body>
</html>
