body {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, sans-serif;
}
.container {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  
}
.controls {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.control-button {
  margin-left: 20px;
}
.restart {
  margin-right: 20px;
}
#timeline {
  width: 300px;
}
.normal-flow {
  outline: 2px solid grey;
  outline-offset: 1px;
}
.normal-flow-child {
  margin: 30px 0;
  outline: 1px solid red;
  transform: translateY(100vh);
  position: relative;
  font-size: 18px;
}

.normal-flow-child:nth-child(2) {
  margin-top: 50px;
}

.normal-flow-child:after {
  content: '';
  position: absolute;
  height: 30px;
  width: 100%;
  top: 100%;
  left: 0;
  background: #d0782a25;
}

.normal-flow-child:before {
  content: '';
  position: absolute;
  height: 30px;
  width: 100%;
  bottom: 100%;
  left: 0;
  background: #d0782a25;
}

.normal-flow-child:nth-child(2):before {
  height: 50px;
}

.normal-flow-child.show:before {
  animation-name: blinker;
  animation-duration: 0.8s;
  animation-iteration-count: 3;
}
.normal-flow-child.show.floated:before, .normal-flow-child.floated:after {
  display: none;
}

.floated {
  z-index: 2;
  background: #ffffff;
}

@keyframes blinker {
  0% {opacity: 1.0;}
  50% {opacity: 0;}
  100% {opacity: 1.0;}
}