button {
  font-size: 2rem;
  padding: 1rem 0.5rem;
  background-color: #00DD00;
}

#promise-demo {
  font-size: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 100px);
  justify-items: stretch;
  align-items: stretch;
}

#pending {
  grid-column: 2;
  grid-row: 1;
}

#rejected {
  grid-column: 1;
  grid-row: 2;
}

#fulfilled {
  grid-column: 3;
  grid-row: 2;
}

.active {
  color: green;
}
