:root {
  --parentRotateY: 0deg;
  --childRotateY: -30deg;
}

body {
  font-family: Arial, sans-serif;
}

p {
  margin: 0;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.section {
  height: 300px;
  position: relative;
}

.parent {
  width: 250px;
  height: 100px;
  background: lightblue;
  transform: perspective(500px) rotateY(var(--parentRotateY));
  position: absolute;
  top: 30%;
  left: 25px;
}

.child {
  height: 80px;
  width: 200px;
  background: lightcoral;
  transform: rotateY(var(--childRotateY)) translateY(-40px);
}

.preserved {
  transform-style: preserve-3d;
}

.controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%)
}

.controls-row {
  display: flex;
  align-items: center;
}