body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
}
label {
  display: block;
  margin-bottom: 4px;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content:'⬇️';
  position: absolute;
  right: 0;
  margin-top: -2px;
  pointer-events: none;
}

select {
  appearance: none;
  width: 200px;
  padding: 4px;
  border-color: #aaa;
  border-radius: 3px;
}
