body {
  font-family: Arial, sans-serif;
}

div {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background: #00000033;
  padding: 20px;
}

.element::before {
  content: "Элемент с классом " attr(class);
  display: block;
}

.element::after {
  content: "Подсказка: " attr(title);
  display: block;
  color: red;
  font-size: 12px;
}
