<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Визуальное отображение — <bdo> — Дока</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
  <style>
    html {
      height: 100%;
    }

    body {
      background-color: #18191c;
      color: white;
      font-family: "Roboto", sans-serif;
      font-size: 20px;
    }
  </style>
</head>
<body>
  <p>Этот текст написан слева направо.</p>
  <p>
    <bdo dir="rtl">Этот текст написан справа налево.</bdo>
  </p>
</body>
</html>
