:root {
  --translateX: 0px;
  --translateY: 0px;
  --translateZ: 0px;
  --rotateX: 0deg;
  --rotateY: 0deg;
  --rotateZ: 0deg;
  --scaleX: 1;
  --scaleY: 1;
  --scaleZ: 1;
  --skewX: 0deg;
  --skewY: 0deg;
}

.obj {
  width: 200px;
  margin-left: 100px;
  margin-top: 50px;
  height: 200px;
  background: #000;
  background-repeat: no-repeat;
  transform: translate3d(var(--translateX), var(--translateY), var(--translateZ))
    scale3d(var(--scaleX), var(--scaleY), var(--scaleZ))
    rotateX(var(--rotateX))
    rotateY(var(--rotateY))
    rotateZ(var(--rotateZ))
    skew(var(--skewX), var(--skewY));
}

.parent {
  perspective: 500px;
}

.wrapper {
  display: flex;
}

.code {
  margin-left: 50px;
  padding: 50px;
  font-size: 24px;
}
