* {
  font-family: sans-serif;
  margin-bottom: 10px;
}

span {
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  white-space: nowrap;
  position:relative;
}

.connector {
  font-size: 30px;
  color: black;
  display:inline-block;
  position: relative;
}

.valid {
  background-color: #669900;
}

.invalid {
  background-color: #CC0033;
}

#guest {
  font-size:30px;
  margin: 0;
}
