body {
  font-family: Arial, sans-serif;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-bottom: 5px;
}

input {
  width: 300px;
}

.no-pseudo {
  text-overflow: ellipsis;
}

.pseudo:placeholder-shown {
  text-overflow: ellipsis;
}
