blockquote {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid lightgrey;
}

blockquote[cite] {
  background-color: lightgreen;
}

blockquote[cite]::after {
  content: attr(cite);
  display: block;
  margin-top: 20px;
}