body {
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue',
    Ubuntu, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

form {
  margin: 16px auto;
  padding: 16px;
  max-width: 480px;
  border-radius: 8px;
}

label {
  display: block;
}

input {
  width: 260px;
  border: 1px solid gray;
  margin-bottom: 16px;
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 16px;
  -webkit-appearance: none;
  appearance: none;
}

button {
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  -webkit-appearance: none;
  appearance: none;
}

.submit {
  background: lightgreen;
}

.reset {
  background-color: unset;
}
