<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Пример использования — <b> — Дока</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
  <style>
    html {
      height: 100%;
    }

    body {
      font-family: Roboto, sans-serif;
      font-size: 20px;
    }

    p {
      max-width: 190px;
    }
  </style>
</head>
<body>
  <p>
    В лидеры обзора вышли
    <b>MDR-V6</b> и <b>ATH-M50x</b>,
    одни из самых популярных
    мониторных наушников.
  </p>
</body>
</html>
