name: Netlify Deploy

on:
  workflow_run:
    workflows:
      - "Update Dates"
    branches:
      - main
    types:
      - completed

jobs:
  netlify-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Загрузка platform
        uses: actions/checkout@v2
        with:
          repository: doka-guide/platform
      - name: Загрузка контента
        uses: actions/checkout@v2
        with:
          path: content
      - name: Кэширование модулей
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Установка модулей
        run: npm ci
      - name: Сборка сайта
        run: |
          node make-links.js --default
          npm run build
      - name: Загрузка карточек социальных сетей
        uses: dawidd6/action-download-artifact@v2
        continue-on-error: true
        with:
          workflow: social-cards.yml
          branch: main
          name: doka-guide-platform-social-cards
      - name: Публикация сайта
        uses: netlify/actions/cli@master
        with:
          args: deploy --dir=dist --message='Публикация контента (https://github.com/doka-guide/content/commit/${{ github.sha }})' --prod
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
