name: Surge

on:
  workflow_run:
    workflows:
      - "YaSpeller PR"
    types:
      - completed

jobs:
  preview:
    runs-on: ubuntu-latest
    env:
      DEPLOY_DOMAIN: 'https://${{ github.repository_owner }}-content-pr-${{ github.event.number }}.surge.sh'
      SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}
    steps:
      - name: Загрузка platform
        uses: actions/checkout@v2
        with:
          repository: doka-guide/platform
      - name: Загрузка контента
        uses: actions/checkout@v2
        with:
          ref: refs/heads/${{ github.event.workflow_run.head_branch }}
          path: content
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Кэширование модулей
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Установка модулей
        run: npm ci
      - name: Сообщение о начале публикации превью
        id: comment
        if: ${{ env.SURGE_TOKEN != '' }}
        uses: jungwinter/comment@v1
        with:
          type: create
          body: 'Идёт сборка и публикация превью...'
          issue_number: ${{ github.event.number }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Выборка файлов для формирования списка
        id: files
        run: |
          files=$(echo "$(git diff --name-only ${{ github.event.sha }} ${{ github.event.workflow_run.head_sha }})")
          echo $files | grep -o -E ' (css|html|js|tools)/[a-z-]+/index.md' | tr '\n' ' '
          echo "::set-output name=all::$files"
      - name: Форматирование списка файлов
        id: links
        run: |
          file_list=''
          for changed_file in ${{ steps.files.outputs.all }}; do
            replace='html'
            page=$(echo "${changed_file/md/$replace}")
            file_list=$(echo -e "${file_list}\n- [${changed_file}](${{ env.DEPLOY_DOMAIN }}/${page})")
          done
          if ! [[ $file_list == '' ]]; then
            file_list=$(echo -e "Список ссылок на материалы:\n\n${file_list}")
          fi
          echo ::set-output name=list::$(echo -e "${file_list}")
      - name: Сборка и публикация сайта
        id: surge
        run: |
          node make-links.js --default
          npm run build
          if ! [[ ${{ env.SURGE_TOKEN == '' }} ]]; then
            npx surge ./dist ${{ env.DEPLOY_DOMAIN }} --token ${{ env.SURGE_TOKEN }}
          else
            echo 'Публикация для форка репозитория'
            npx surge ./dist ${{ env.DEPLOY_DOMAIN }} --token '6973bdb764f0d5fd07c910de27e2d7d0'
          fi
          echo 'Ссылка на превью — ${{ env.DEPLOY_DOMAIN }}'
          echo -e "${{ steps.links.outputs.list }}"
      - name: Сообщение об окончании публикации превью
        if: ${{ env.SURGE_TOKEN != '' && steps.surge.conclusion == 'success' && steps.links.conclusion == 'success' }}
        uses: jungwinter/comment@v1
        with:
          type: edit
          body: |
            [Превью контента](${{ env.DEPLOY_DOMAIN }}) из ${{ github.sha }} опубликовано.
            ${{ steps.links.outputs.list }}
          comment_id: ${{ steps.comment.outputs.id }}
          token: ${{ secrets.GITHUB_TOKEN }}
