name: Update CHANGELOG

on:
  pull_request:
    branches:
      - main
    types: [closed]

jobs:
  update_changelog:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.DOKA_BOT_ACCESS_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Ищет новые материалы и обновляет CHANGELOG
        run: sh .github/scripts/update-changelog.sh
