name: YaSpeller All

on:
  push:
    branches:
      - main

jobs:
  spell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Проверка правописания в main
        run: npx yaspeller --only-errors --file-extensions ".md,.html" *
