html {
  height: 100%;
}
body {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, sans-serif;
  border: 1px solid grey;
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
}

p {
  border: 2px solid green;
  margin: 0;
}